<header class="header-6">
    <div class="branding">
        <a href="" class="nav-link">
            <clr-icon shape="bank"></clr-icon>
            <span class="title">PSB Home Banking</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="" class="active nav-link" aria-current="page"><span class="nav-text">Homepage</span></a>
        <a href="" class="nav-link"><span class="nav-text">Offerte</span></a>
        <a href="" class="nav-link"><span class="nav-text">Contatti</span></a>
    </div>
    <div class="header-actions">
        <a href="/login" class="nav-link nav-icon-text" aria-label="settings">
            <span class="nav-text">Area Riservata</span>
            <clr-icon shape="user"></clr-icon>
        </a>
    </div>
</header>